body {
  background: url("../images/pow-star.png");
  text-align: center;
}

.main {
  margin-bottom: 80px;
}

h2 {
  color: red;
  background: lightblue;
}

.parent {
  background: purple;
  /* display: flex; */
  /* flex-direction: column-reverse; */
}

#trivia-area {
  display: flex;
  background: yellow;
  /* flex-direction: column; */
  flex: 1;
}

input {
  background: darkblue;
  flex: 1;
  /* flex-direction: row; */
  /* margin-top: 50px; */

  /* margin: auto; */
}

span { 
  flex: 1;
  background: rgb(0, 139, 56);
  /* flex-direction: row;  */
  
  /* padding: 50px; */
 

}