body {
  background: url("../images/pow-star.png");
  text-align: center;
}

.main {
  margin-bottom: 80px;
}

h2 {
  background: rgb(26, 127, 160);
}


/* .parent { */
  /* background: purple; */
  /* display: flex; */
  /* flex-direction: column-reverse; */
/* } */

#trivia-area {
  display: flex;
  /* background: yellow; */
  /* flex-direction: column; */
  flex: 1;
}

input {
  flex: 1;
  flex-direction: row;
  /* margin-top: 50px; */

  /* margin: auto; */
}

